h1 {
  color: var(--blue);
  text-shadow: 10px 10px 20px var(--shadow);
  font-size: 10vw;
  padding: 2vw;
  display: flex;
  flex-flow: column wrap;
  width: 50%;
}
span {
  color: var(--white);
  font-weight: lighter;
  width: fit-content;
  margin-left: 20%;
}
.Picture {
  width: 22vw;
  height: 22vw;
  position: absolute;
  top: 2vw;
  right: 2vw;
  background: url(../assets/img/face2.webp) center/cover;
  border-radius: 50%;
  border-bottom: 3px solid var(--blue);
  box-shadow: 6px 6px 20px var(--shadow);
}
.border {
  width: 75%;
  border-top: 1px solid var(--blue);
  margin-left: 50%;
  transform: translate(-50%);
}
