@import "./reset.css";
@import "./variables.css";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&display=swap");

body {
  font-family: "Josefin Sans", verdana;
  height: auto;
  background: var(--gradient);
  user-select: none;
}

/* Header */

h1 {
  color: var(--blue);
  text-shadow: 10px 10px 20px var(--shadow);
  font-size: 10vw;
  padding: 2vw;
  display: flex;
  flex-flow: column wrap;
  width: 50%;
}
span {
  color: var(--white);
  font-weight: lighter;
  width: fit-content;
  margin-left: 20%;
}
.Picture {
  width: 22vw;
  height: 22vw;
  position: absolute;
  top: 2vw;
  right: 2vw;
  background: url(../assets/img/face2.webp) center/cover;
  border-radius: 50%;
  border-bottom: 3px solid var(--blue);
  box-shadow: 6px 6px 20px var(--shadow);
}
.border {
  width: 75%;
  border-top: 1px solid var(--blue);
  margin-left: 50%;
  transform: translate(-50%);
}

/* Timeline */

.timelineContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: fit-content;
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 5%;
  margin-bottom: 2vh;
}
.bar {
  position: absolute;
  width: 1px;
  height: 100%;
  background: var(--blue);
  border-radius: 10px;
  transition: 0.2s;
}
section {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  height: 20vh;
  padding: 1.5em;
  color: var(--white);
  font-weight: lighter;
  font-size: 1.5em;
  transition: 0.6s;
}
section h2 {
  color: var(--blue);
  font-size: 1.8em;
}
.school,
.tarbes,
.dev {
  margin-left: 50%;
  border-right: 1px solid var(--blue);
}
.versailles,
.maisalf {
  margin-right: 50%;
  border-left: 1px solid var(--blue);
}

img[src="./icons/diploma.webp"],
img[src="./icons/xp.webp"] {
  width: 5vw;
  filter: invert(1);
}
@media screen and (max-width: 1000px) {
  .bar {
    opacity: 0;
  }
  .school,
  .versailles,
  .tarbes,
  .maisalf,
  .dev {
    margin: 0;
    width: 75%;
    border-bottom: 1px solid var(--blue);
    font-size: 1em;
  }
  section h2 {
    font-size: 1.5em;
  }
}

/* Realisations */

.realisations {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  height: fit-content;
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 5%;
}
.realisations h2 {
  width: 100%;
  text-align: center;
  font-size: 4em;
  color: var(--blue);
  text-shadow: 10px 10px 20px var(--shadow);
  transition: 0.6s;
}
.firstCard,
.secondCard,
.thirdCard {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 1.2em;
  width: 450px;
  color: var(--white);
  font-weight: lighter;
  font-size: 1.3em;
  transition: 0.6s;
}
.realisations h4 {
  font-size: 1.6em;
  font-weight: bold;
}
.zenifine,
.weeat,
.game {
  width: 100%;
  height: 250px;
  border-radius: 25px;
  transition: 0.6s;
}
.zenifine {
  background: url(../assets/img/zenifine.png) center/cover;
}
.weeat {
  background: url(../assets/img/weeat.png) left/cover;
}
.game {
  background: url(../assets/img/game.png) center/cover;
}

/* Media Queries */

@media screen and (max-width: 1000px) {
  .realisations {
    flex-flow: column;
  }
}
@media screen and (max-width: 500px) {
  .zenifine,
  .weeat,
  .game {
    width: 300px;
    height: 200px;
  }
}

/*  */

.miniTimeline {
  width: 1px;
  min-height: 10vh;
  background: var(--blue);
  border-radius: 10px;
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 5%;
  margin-bottom: 5%;
}

/* Skills */

.skills {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding: 0;
  margin: 0;
}
.skills h2 {
  font-size: 2.8em;
  text-shadow: 10px 10px 20px var(--shadow);
  transition: 0.6s;
}
figure {
  background: url(../assets/img/imageonline.png) center/cover;
  width: 30em;
  height: 30em;
  border-radius: 50%;
  box-shadow: 0 10px 20px var(--shadow);
  transition: 0.6s;
}
@media screen and (max-width: 1350px) {
  figure {
    width: 20em;
    height: 20em;
  }
}
@media screen and (max-width: 850px) {
  figure {
    width: 15em;
    height: 15em;
  }
}
@media screen and (max-width: 650px) {
  figure {
    width: 10em;
    height: 10em;
  }
}

/* About */

.about {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  width: 100%;
  height: fit-content;
}
.about h2 {
  width: 100%;
  margin: 0;
  padding: 1.5em;
  font-size: 2.8em;
  text-align: center;
  color: var(--white);
  text-shadow: 10px 10px 20px var(--shadow);
  transition: 0.6s;
}
h2 span {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: var(--orange);
}
p {
  width: 35%;
  text-align: center;
}
.pictureContainer {
  background: url(../assets/img/moi_meme.webp) center/cover;
  width: 18em;
  height: 28em;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  box-shadow: 10px 10px 20px var(--shadow);
}
@media screen and (max-width: 1350px) {
  .pictureContainer {
    width: 15em;
    height: 25em;
  }
}
@media screen and (max-width: 1200px) {
  .pictureContainer {
    width: 15em;
    height: 25em;
  }
  p {
    width: 75%;
  }
}
@media screen and (max-width: 750px) {
  .pictureContainer {
    display: none;
  }
  p {
    width: 75%;
    font-size: 0.8em;
    transition: 0.6s;
  }
}
@media screen and (max-width: 500px) {
  .about h2,
  .realisations h2,
  .skills h2 {
    font-size: 2em;
  }
}

/* Footer */

.animBorder {
  width: 100%;
  height: 1px;
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 2em;
  border-top: 1px solid var(--orange);
  animation: yoyo 4s linear infinite;
}
@keyframes yoyo {
  0% {
    width: 100%;
  }
  50% {
    width: 25%;
  }
  100% {
    width: 100%;
  }
}
footer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  background: var(--grey);
}
footer h2 {
  margin: 0;
  padding: 0;
  color: var(--white);
  text-align: center;
  font-size: 3.8em;
  font-weight: lighter;
  padding: 1em;
  width: 100%;
}
footer div {
  width: 50px;
  height: 50px;
  margin-bottom: 2em;
  filter: invert(1) opacity(0.75);
  transition: 0.4s;
}
footer div:hover {
  cursor: pointer;
  transform: rotate(25deg) scale(1.1);
}
footer .tel {
  background: url(../assets/img/tel.webp) center/cover;
}
footer .email {
  background: url(../assets/img//email.webp) center/cover;
}
footer .adress {
  background: url(../assets/img/home.webp) center/cover;
}
