@import "./reset.css";
@import "./variables.css";
@import "./header.css";
@import "./timeline.css";
@import "./realisations.css";
@import "./skills.css";
@import "./about.css";
@import "./footer.css";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&display=swap");

body {
  font-family: "Josefin Sans", verdana;
  height: auto;
  background: var(--gradient);
  user-select: none;
}
